@import './common.scss';

/****************************** cotnrol_class *****************************/
.tab_active {
    a {
        color: white !important;
    }
}


/****************************** header_ex *****************************/
.header_ex_design {
    display: none;
    position: fixed;
    width: 100%;
    left: 0; top: 0;
    background-color: black;
    z-index: 999999;
    font-family: $dot_font_dungGeunMo;
    .header_design {
        @include box_array;
        .nav_area_design {
            display: flex;
            justify-content: space-between;
            li {
                a {
                    display: block;
                    color: gray;
                    padding: 10px 0;
                    font-size: 2.4rem;
                }
            }
        }
    }
}